@media screen and (max-width: 760px) {

    header {
        flex-direction: Line;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
        width: 100%;
    }

    input {
        align-self: center;
    }



    ul {
        text-align: center;
    }

    .date {
        cursor: pointer;
        width: 40%;
    }

    .Aswers {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .number {
        width: 40%;
    }
}
